doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    // <link rel="stylesheet" type="text/css" href="client/css/style.css">
    script(src='https://code.jquery.com/jquery-2.2.4.min.js', integrity='sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=', crossorigin='anonymous')
    title Login
    style(type='text/css').
      .jumbotron {
      text-align: center;
      }
  body
    .jumbotron(style='background: DarkSeaGreen !important')
      h1  Login Page 
    .row
      .col-md-1
      .col-md-10
        .form-group
          label(for='username') Username:
          input#username.form-control(type='text', name='username', required='', value='')
        .form-group
          label(for='password') Password:
          input#password.form-control(type='password', name='password', required='', value='')
        button.btn.btn-block.btn-primary(type='button', onclick='Submit()') Login
        br
        br
        #loginAlert.container.mt-3
      script.
        function Submit() {
        let password = $('#password');
        let username = $('#username');
        // fetch('./loginValid')
        // .then(response => response.json())
        // .then(data => fillIn(data))
        fetch('/loginValid', {
        method: 'POST',
        body: JSON.stringify({
        username: username.val(),
        password: password.val(),
        }),
        headers: {
        'Content-type': 'application/json; charset=UTF-8',
        }
        })
        .then(function (response) {
        return response.json()
        })
        .then(function (data) {
        if (data.status == 'FAIL') {
        createAlert();
        // alert("Login Fail");
        // password.val() = "";
        // username.val() = "";
        //- window.location.href = 'login';
        }
        else {
        removeAlert();
        window.location.href = '/schedule';
        }
        }).catch(error => console.error('Error:', error));
        }
        function createAlert() {
        let newHtml = `<div class="alert alert-warning" role="alert" >Wrong username or password</div>`;
        $('#loginAlert').html(newHtml);
        }
        function removeAlert() {
        let newHtml = `<div class="alert alert-success" role="alert">Login Success</div>`;
        $('#loginAlert').html(newHtml);
        }
      .col-md-1